<header class="mt-5">
  <h1 class="text-3xl text-center">{{(value/100)  | percent:'1.2-2'}}</h1>
  <div class="h-2 text-center w-4/6 mx-auto mt-2">
    <div class="bg-sky-600 h-2" [style.width]="value+'%'"></div>
  </div>
</header>
<main class="w-4/6 mx-auto mt-5">
  <div class="flex justify-between">
    <app-first [value]="value" (update)="value=$event"/>
    <app-second [value]="value" (update)="value=$event"/>
  </div>
  <div class="flex justify-between mt-5">
    <app-third [value]="value"/>
    <app-fourth [value]="value" (update)="value=$event"/>

  </div>
</main>
